body {
    background-color: #444; /* Slightly brighter dark gray background for the body */
    color: white; /* White text color for the body */
}

a {
    color: #d3d3d3; /* Dodger blue color for links */
}

a:hover {
    color: orange; /* Orange color for hovered links */
}

.navbar, .wy-side-nav-search, .wy-nav-side, .wy-nav-content-wrap {
    background-color: black; /* Black background for navbar and navigation elements */
}

.wy-nav-side {
    border-right: 1px solid #444; /* Dark gray border for the side navigation */
}

.wy-nav-content {
    background-color: black; /* Black background for the main content area */
    color: #d3d3d3; /* Light gray text color for the main content area */
}

.wy-nav-content a {
    color: #1e90ff; /* Dodger blue color for links in the main content area */
}

.wy-nav-content a:hover {
    color: orange; /* Orange color for hovered links in the main content area */
}

.wy-nav-side a {
    color: #d3d3d3; /* Light gray color for links in the side navigation */
}

.wy-nav-side a:hover {
    color: orange; /* Orange color for hovered links in the side navigation */
}

.wy-nav-side .current a {
    color: orange; /* Orange color for the current link in the side navigation */
}

.logo {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* Custom styles for code blocks and other elements */
.highlight, .literal-block, .code, pre {
    background-color: #2A303C; /* Darker gray background for code blocks */
    border: 1px solid white; /* White border for code blocks */
}

table {
    background-color: #2A303C; /* Darker gray background for tables */
    border: 1px solid white; /* White border for tables */
}

th, td {
    border: 1px solid white; /* White border for table cells */
}

.admonition {
    background-color: #2A303C; /* Darker gray background for admonitions */
    border: 1px solid white; /* White border for admonitions */
}